<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>564418580832-ko7kt2j9461ptbcttjem51lsc0aomk1o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.564418580832-ko7kt2j9461ptbcttjem51lsc0aomk1o</string>
	<key>API_KEY</key>
	<string>AIzaSyAn3UYOxFTvg3c8eiFRASZV0F_Nf3QyZTY</string>
	<key>GCM_SENDER_ID</key>
	<string>564418580832</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.claimz.claimzpublic</string>
	<key>PROJECT_ID</key>
	<string>claimz-783eb</string>
	<key>STORAGE_BUCKET</key>
	<string>claimz-783eb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:564418580832:ios:c3bf682aa6c7b72622ce05</string>
</dict>
</plist>